*{
  margin: 0%;
  padding: 0%;
}
body, html {                          
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(111, 192, 93);
  display: flex;
justify-content: center;

 align-items: center;
 
}   
 div {
  align-items: center;
   display: flex; 
  height: 30%;
  width: 20%;
  background-color: blueviolet;
}  
#box1{
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
}
#box2{
  display: flex;
  background-color: rgb(146, 22, 22);
  justify-content: center;
  
}